.contact {
  margin: 0;
  padding: 0;
  width: 70%;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 8px 0;
}

p {
  color:  #5a5959;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 8px 0;
}
